/* Reset Css*/
body, div, span, header, footer {
    margin: 0;
}

/*Main Css*/

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.header-content {
    background-color: #4C4A4A;
}

.header-content .title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: #FFF;
    display: inline-block;
}

.main-content-wrapper {
    margin-top: 10px;
    padding: 0 10px
}

.best-day, .best-time {
    margin: 20px 10px;
    padding: 20px;
    float: left;
    background-color: #2af6f4;
    border-radius: 10px;
}

label {
    font-size: 0.8em;
    font-weight: normal;
}

.user-form  {
    margin: 20px;
    padding: 20px;
    border: 2px solid #4EDED7;
    border-radius: 10px;
}

.user-form #user-id {
    font-size: 1.1em;
    padding: 5px;
}
.user-form button {
    background-color: aqua;
}

.error-title {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    color: #ff5415;
    margin-bottom: 15px;
}

.error-message {
    font-style: italic;
}