@(message: String)

    @main("Welcome") {
        <div class="user-form">
            <form action="/twitterApi">
                <div>
                    <label for="user-id">User Id:</label>
                    <input id="user-id" type="text" name="userId">
                </div>
                <button type="submit" class="">Get Best Time</button>
            </form>
        </div>
    }
