@import play.api.libs.json.JsObject

@(message: JsObject)

@main("Twitter") {

    <div class="best-day">
        <label>Best Day: </label>
        <span>@{(message \ "bestDay").as[String]} </span>
    </div>
    <div class="best-time">
        <label>Best Time: </label>
        <span>@{message \ "bestTimeToPost"} (24 hr format) </span>
    </div>
}